@import url('https://fonts.googleapis.com/css?family=Overpass|Paytone+One&display=swap');
*{	
	padding: 0;
	margin: 0;
}

body{
	
	background-image: url("../images/mapbg.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #FFEFD5;
	text-align: center;
	color: #000;
	font-family: 'Overpass', sans-serif;
	font-size: 1em; 
	position: relative;
	line-height: 1.5;
}

nav{
	text-align: right;
	margin: 20px; 
}

h1{
	font-family: 'Paytone One', sans-serif;
	font-size: 4em;
	font-weight: bold;
	margin-top: 10%

}

h2{	
	font-size: 1.5em; 
	text-align: center;
	text-transform: capitalize;
	font-family: 'Paytone One', sans-serif;
	font-style: italic;
}

p{
	font-size: 1em; 
	text-align: center;
}

h3{
	text-align: center;
	font-family: 'Overpass', sans-serif; 
	text-transform: capitalize;
}
img{	
	width: 35%;

}
#tagline{
	margin-bottom: 45%; 
}

#explination{
	font-style: bold;	
}

.about{
	font-size: 1em; 
	font-weight: bold;
	
}

